.aboutus {
    position: relative;
    padding: 50px 0;
    &-bg {
        position: absolute;
        right: 0;
        top: -40%;
        z-index: -1;
    }
    &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .text {
            .heading {
                font-size: 1.6em;
                line-height: 2rem;
                font-weight: 600;
                color: $primary-color;
                margin-bottom: 12px;
            }
            .title {
                font-size: 3.6em;
                line-height: 4.5rem;
                font-weight: 600;
                color: $heading-color;
                margin-bottom: 12px;
            }
            .desc {
                font-size: 1.6rem;
                line-height: 2.4rem;
                letter-spacing: 0.08rem;
                margin-bottom: 50px;
            }
        }
        .action {
            display: flex;
            align-items: center;
            width: 100%;
            .watch {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 44px;
                cursor: pointer;
                &-icon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .text {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    letter-spacing: 0.08rem;
                    font-weight: 600;
                    margin-left: 13px;
                }
            }
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
