.servicesmain {
    padding: 40px 0;
    &-top {
        text-align: center;
        .main {
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 600;
            color: $primary-color;
            margin-bottom: 12px;
        }
        .title {
            font-size: 3.6rem;
            line-height: 4.5rem;
            font-weight: 600;
            color: $heading-color;
            padding-left: 25%;
            padding-right: 25%;
            margin-bottom: 12px;
        }
        .desc {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            padding-left: 10%;
            padding-right: 10%;
            margin-bottom: 12px;
        }
    }
    &-bottom {
        padding: 40px 0;
        .service-item {
            background-color: #fff;
            box-shadow: 0px 25px 50px 25px $shadow-color;
            border-radius: 42px;
            padding: 50px 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            &-img {
                padding: 10px;
            }
            &-title {
                font-size: 1.8em;
                line-height: 2.25rem;
                font-weight: 600;
                color: $heading-color;
                margin-bottom: 6px;
            }
            &-desc {
                font-size: 1.4em;
                line-height: 2.1rem;
                font-weight: 400;
                letter-spacing: 0.1rem;
            }
        }
    }
}
