body {
    line-height: 1;
    font-family: $font;
    color: $text-color;
    font-weight: 400;
    background-color: white;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    padding: 14px 41px;
    border-radius: 100rem;
    font-family: $font;
    line-height: 2.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    &--primary {
        font-weight: 600;
        letter-spacing: 0.2rem;
        background-color: $primary-color;
        color: #fff;
    }
    &--outline {
        background-color: transparent;
        color: $primary-color;
        font-weight: 500;
        border: 1px solid;
    }
    &--rounded {
        border-radius: 50px;
        padding: 14px 41px;
    }
    &--shadow {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 90%;
            height: 100%;
            transform: translate(-50%, 50%);
            background-color: rgba(245, 56, 56, 0.35);
            filter: blur(54px);
            border-radius: inherit;
        }
    }
}
.boxed {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.input,
.textarea {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    padding: 17px 24px;
    border: 1px solid #d9ddfe;
    border-radius: 15px;
    width: 100%;
    &::placeholder {
        color: #c5c5c5;
    }
}
.textarea {
    min-height: 240px;
}
@media screen and (max-width: 767px) {
    .button {
        padding: 13px 26px;
    }
}
